<!-- Display a list of songs + tags -->

<!-- When User clicks on particular tag, he or she is going to see all applicable songs tied to tag -->

<!-- Use DOM manipulation to set filtering of songs based on tag clicks -->

<!-- Whenever User clicks on one of the tags below, it will fire off jQuery to display only
those songs associated with that tag -->

<button class="tag1"></button>
<button class="tag2"></button>
<button class="tag3"></button>
<button class="tag4"></button>

<ul>
    <!-- Only displayed when "tag1" is clicked -->
    <li></li>
    <li></li>

    <!-- Only displayed when "tag2" is clicked -->
    <li></li>
</ul>